* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.link {
  display: block;
  margin-bottom: 12px;
  margin-left: 12px;
  color: darkblue;
  font-size: 20px;
}

.link:last-child {
  margin-bottom: 0;
}

.link:hover {
  text-decoration: underline;
}

.go-back {
  margin-left: 0;
  font-size: 16px;
}